.button,
.btn,
.green-bg-btn,
input[type='button'],
input[type='reset'],
input[type='submit'],
button {
  font-family: $base-font-family;
  font-size: 25px;
  font-weight: 600;
  line-height: 1;

  position: relative;

  display: inline-block;

  padding: 12px 30px;

  cursor: pointer;
  user-select: none;
  transition: all .3s;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;

  color: $btn-black;
  border: 0;
  border-radius: 40px;
  outline: none;
  background-color: $green;

  -webkit-font-smoothing: antialiased;
  &:active,
  &:hover,
  &:focus {
    text-decoration: none;

    color: $yellow;
    background-color: $green-hover;
  }
  &:disabled {
    cursor: not-allowed;

    opacity: .5;
  }
}

.green-big-btn {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;

  padding: 15px 30px;

  color: $btn-black;
  border-radius: 40px;
  background-color: $green;
  &:active,
  &:hover,
  &:focus {
    color: $yellow;
    background-color: $green-hover;
  }
}

.green-btn {
  font-size: 16px;
  font-weight: normal;

  padding: 10px 20px;

  color: $green;
  border: 1px solid $green;
  border-radius: 40px;
  background-color: transparent;
  &:active,
  &:hover,
  &:focus {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
  }
}

.blue-btn {
  font-size: 16px;
  font-weight: normal;

  padding: 10px 20px;

  color: $blue;
  border: 1px solid $blue;
  background-color: transparent;
  &:active,
  &:hover,
  &:focus {
    color: $btn-black;
    border-color: $btn-black;
    background-color: transparent;
  }
}
